<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-lg-12">

                <ul class="breadcrumb adv_search">
                    <!--<li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>-->
                    <li class="breadcrumb-item active">Manager Report</li>
                </ul>

            </div>

        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">

                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover js-basic-example dataTable table-custom">
                            <thead class="thead-dark">
                                <tr>

                                    <th>Employee ID</th>
                                    <th>Name</th>

                                </tr>
                            </thead>
                            <tbody ng-repeat="data in SupervisorList">
                                <tr ng-click="GetUserCount(data)" style="cursor:pointer">

                                    <td>{{data.EmployeeID}}</td>
                                    <td>{{data.Name}}</td>

                                </tr>
                                <tr ng-show="data.IsShow">
                                    <td colspan="2">
                                        <div class="table-responsive">
                                            <table class="table table-striped">

                                                <thead>
                                                    <tr>
                                                        <th>HR Spoc </th>
                                                        <th>New</th>
                                                        <th>Open</th>
                                                        <th>TAT Bust</th>
                                                        <th>Closed Today</th>
                                                        <th>MTD Closed</th>
                                                        <th>Support Required</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-repeat="child1 in data.Supervisordetails">
                                                    <tr>
                                                        <td>{{child1.Name}}({{child1.EmployeeID}})</td>
                                                        <td ng-click="GetUserTicketData(child1,1)" style="cursor:pointer">{{child1.NewTickets}}</td>
                                                        <td ng-click="GetUserTicketData(child1,2)" style="cursor:pointer">{{child1.OpenTickets}}</td>
                                                        <td ng-click="GetUserTicketData(child1,3)" style="cursor:pointer">{{child1.TATTickets}}</td>
                                                        <td ng-click="GetUserTicketData(child1,4)" style="cursor:pointer">{{child1.ClosedTickets}}</td>
                                                        <td ng-click="GetUserTicketData(child1,6)" style="cursor:pointer">{{child1.SupportRequired}}</td>
                                                        <td ng-click="GetUserTicketData(child1,4)" style="cursor:pointer">{{child1.MTDClosedTickets}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7">
                                                            <div class="table-responsive" ng-show="child1.SubData">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Ticket#</th>
                                                                            <th>Emp ID</th>
                                                                            <th>Emp Name</th>
                                                                            <th>TAT</th>
                                                                            <th>Date</th>
                                                                            <th>Issue</th>
                                                                            <th>Sub Issue</th>
                                                                            <th>Status</th>
                                                                            <th>Last Updated on</th>
                                                                            <th>Agent Name</th>
                                                                            <th>FollowUp</th>
                                                                           
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="childData in child1.SubData | orderBy : 'childData.CreatedON' :true">

                                                                            <td><a class="btn btn-link mybtn-link" href="home.html#/pbsupport/TicketDetails/{{childData.TicketID}}">{{childData.TicketDispID}}</a></td>
                                                                            <td>{{childData.EmployeeID}}</td>
                                                                            <td>{{childData.Name}}</td>
                                                                            <td>{{childData.TATDate | date:"dd-MM-yyyy  h:mma"}}</td>
                                                                            <td>{{childData.CreatedON | date:"dd-MM-yyyy  h:mma"}}</td>
                                                                            <td>{{childData.ISSUENAME}}</td>
                                                                            <td>{{childData.SUBISSUENAME}}</td>
                                                                            <td>{{childData.StatusName}}</td>
                                                                            <td>{{childData.LastUpdatedOn | date:"dd-MM-yyyy  h:mma"}}</td>
                                                                            <td>{{childData.Name}}</td>
                                                                            <td>{{childData.FollowUp && childData.FollowUp!=null ? (childData.FollowUp | date:"dd-MM-yyyy"):''}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>




</tbody>
                        </table>




                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

