<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-lg-12">

                <ul class="breadcrumb adv_search">
                    <!--<li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>-->
                    <li class="breadcrumb-item active">All Tickets</li>
                </ul>

              
            </div>
        </div>
    </div>
   
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">

                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group grp1">
                                <label>From</label>
                                <div class="date_block">
                                    <input type="text" class="form-control cal" uib-datepicker-popup="{{format}}"
                                           ng-model="FromDate" is-open="popup1.opened"
                                           datepicker-options="dateOptions" ng-click="open1()"
                                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group grp1">
                                <label>To</label>
                                <div class="date_block">
                                    <input type="text" class="form-control cal" uib-datepicker-popup="{{format}}"
                                           ng-model="ToDate" is-open="popup2.opened"
                                           datepicker-options="dateOptions" ng-click="open2()"
                                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group grp1">
                                <label for="phone-ex" class="control-label">Issue</label>
                                <select class="form-control" ng-model="Selected.IssueType"
                                        ng-options="data.ISSUENAME for data in IssueSubIssue
                                    |  unique: 'ISSUEID' | orderBy:['SUBISSUENAME'] track by data.ISSUEID ">
                                    <option value="">Select Issue</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group grp1">
                                <label for="tax-id" class="control-label">SubIssue</label>
                                <select class="form-control" ng-model="Selected.SubIssueType"
                                        ng-options="data.SUBISSUENAME for data in IssueSubIssue
                                    | filter : {IsVisible:1}:true | filter : {ISSUEID:Selected.IssueType.ISSUEID}:true | orderBy:['SUBISSUENAME']  track by data.SUBISSUEID" ng-disabled="!(Selected.IssueType.ISSUEID>0)">
                                    <option value="">Select Sub Issue</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group grp1">
                                <label for="tax-id" class="control-label">Status</label>
                                <select class="form-control" ng-model="Selected.Status"
                                        ng-options="data.StatusName for data in StatusList
                                    |  unique: 'StatusID' | orderBy:['Sequence'] track by data.StatusID ">
                                    <option value="">Select Status</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group grp1">
                                <label for="product-key" class="control-label">Assigned to</label>
                                <input type="text" id="product-key" class="form-control">
                            </div>
                        </div>-->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="m-t-15 advance_search_btn">
                                <button class="btn btn-primary" ng-click="GetAdminTicketList(4)">Search</button>
                                <button class="btn btn-outline-secondary">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">

                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover js-basic-example dataTable table-custom" ng-show="TicketList.length>0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Ticket Id</th>
                                    <th>Emp ID</th>
                                    <th>Emp Name</th>
                                    <th>TAT</th>
                                    <th>Created On</th>
                                    <th>Issue</th>
                                    <th>Sub Issue</th>
                                    <th>Status</th>
                                    <th>FollowUp</th>
                                    <th>Updated On</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr ng-repeat="data in TicketList | orderBy : 'data.CreatedON' :true">
                                    <td><a class="btn btn-link mybtn-link" href="home.html#/pbsupport/TicketDetails/{{data.TicketID}}">{{data.TicketDispID}}</a></td>
                                    <td>{{data.EmployeeID}}</td>
                                    <td>{{data.Name}}</td>
                                    <td>{{data.TATDate | date:"dd-MM-yyyy  h:mma"}}</td>
                                    <td>{{data.CreatedON | date:"dd-MM-yyyy  h:mma"}}</td>
                                    <td>{{data.ISSUENAME}}</td>
                                    <td>{{data.SUBISSUENAME}}</td>
                                    <td>{{data.StatusName}}</td>
                                    <td>{{data.FollowUp && data.FollowUp!=null ? (data.FollowUp | date:"dd-MM-yyyy"):''}}</td>
                                    <td>{{data.LastUpdatedOn| date:"dd-MM-yyyy  h:mma"}}</td>
                                </tr>



                            </tbody>
                        </table>
                        <div ng-show="!TicketList  || TicketList.length<=0">No record found</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


