<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-lg-12">

                <ul class="breadcrumb adv_search">
                    <!--<li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>-->
                    <li class="breadcrumb-item active"><b>Create Ticket</b></li>
                </ul>

            </div>

        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                
                <div class="mail-inbox">


                    <div class="mail-right agent_tkt_view">

                        <div class="body ticket_detailbox">

                            <div class="mail_compose_Section">
                                <div class="card shadow_none">
                                    <div class="body compose_box">
                                        <form>
                                            <div class="row clearfix">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group grp1">
                                                        <div class="form-group">
                                                            <label>Issue</label>
                                                            <select class="form-control" ng-model="Selected.IssueType"
                                                                    ng-options="data.ISSUENAME for data in IssueSubIssue
                                    |  unique: 'ISSUEID' | orderBy:['SUBISSUENAME'] track by data.ISSUEID ">
                                                                <option value="">Select Issue</option>
                                                            </select>

                                                           
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group grp1">
                                                        <div class="form-group">
                                                            <label>Sub Issue</label>
                                                            <select class="form-control" ng-model="Selected.SubIssueType"
                                                                    ng-options="data.SUBISSUENAME for data in IssueSubIssue
                                    | filter : {ISSUEID:Selected.IssueType.ISSUEID}:true | orderBy:['SUBISSUENAME']  track by data.SUBISSUEID" ng-disabled="!(Selected.IssueType.ISSUEID>0)">
                                                                <option value="">Select Sub Issue</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="summernote">
                                            <textarea ng-model="Comments" cols="85" rows="10"></textarea>
                                            
                                        </div>
                                        <div class="m-t-30 compose_action_button">
                                            <div  class="upload_box ng-scope" >
                                                <input type="file" name="file-3[]" id="file-3" class="inputfile inputfile-3" onchange="angular.element(this).scope().file_changed(this)" accept="file_extension|.jpg,.pdf,.xlsx" multiple="">
                                                <label for="file-3" class="upload_docs" style="display:inline;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                                                 <!--<span>Choose a file&hellip;</span>--></label>
                                            </div>
                                            <button type="button" class="btn btn-success" ng-click="CreateTicket()">Submit</button>
                                            <a href="app-inbox.html" class="btn btn-outline-secondary">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>