<div>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="title" id="defaultModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
            vitae eros sit amet  Integer dapibus, mi ac tempor varius, purus
            nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
            Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">SAVE CHANGES</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>
    </div>
</div>