 <div class="container-fluid">
     <div class="block-header">
         <div class="row">
             <div class="col-lg-6 col-md-8 col-lg-12">

                 <ul class="breadcrumb adv_search">
                     <!--<li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>-->
                     <li class="breadcrumb-item active">Supervisor Report</li>
                 </ul>

             </div>

         </div>
     </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">

                <div class="body">
                    <div class="table-responsive">

                        <table class="table table-hover js-basic-example dataTable table-custom" ng-show="Report.length>0">
                            <thead class="thead-dark">
                                <tr>

                                    <th>Spoc </th>
                                    <th>New</th>
                                    <th>Open</th>
                                    <th>TAT Bust</th>
                                    <th>Closed Today</th>
                                    <th>Support Required</th>
                                    <th>MTD Closed</th>
                                </tr>
                            </thead>

                            <tbody ng-repeat="data in Report">
                                <tr>
                                    <td>{{data.Name}}</td>
                                    <td ng-click="GetUserTicketData(data,1)" style="cursor:pointer">{{data.NewTickets}}</td>
                                    <td ng-click="GetUserTicketData(data,2)" style="cursor:pointer">{{data.OpenTickets}}</td>
                                    <td ng-click="GetUserTicketData(data,3)" style="cursor:pointer">{{data.TATTickets}}</td>
                                    <td ng-click="GetUserTicketData(data,4)" style="cursor:pointer">{{data.ClosedTickets}}</td>
                                    <td ng-click="GetUserTicketData(data,6)" style="cursor:pointer">{{data.SupportRequired}}</td>
                                    <td ng-click="GetUserTicketData(data,4)" style="cursor:pointer">{{data.MTDClosedTickets}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="tkt_detailbox" ng-if="data.SubData.length>0">

                                        <div class="card detialbox supervisor_block">
                                            <!--<div style="text-align:right; padding:5px;"><button type="button" class="btn btn-info">Assign</button></div>-->
                                            <div class="body expand_table">
                                                <div class="table-responsive">

                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                               
                                                                <th>Ticket#</th>
                                                                <th>Date</th>
                                                                <th>Issue</th>
                                                                <th>Sub Issue</th>
                                                                <th>Status</th>
                                                                <th>Last Updated on</th>
                                                                <th>Emp ID</th>
                                                                <th>Emp Name</th>

                                                                <th>TAT</th>
                                                                <th>FollowUp</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="childData in data.SubData | orderBy : 'childData.CreatedON' :true">

                                                                <td><a class="btn btn-link mybtn-link" href="home.html#/pbsupport/TicketDetails/{{childData.TicketID}}">{{childData.TicketDispID}}</a></td>
                                                                <td>{{childData.CreatedON | date:'medium'}}</td>
                                                                <td>{{childData.ISSUENAME}}</td>
                                                                <td>{{childData.SUBISSUENAME}}</td>
                                                                <td>{{childData.StatusName}}</td>
                                                                <td>{{childData.LastUpdatedOn | date:"dd-MM-yyyy  h:mma"}}</td>
                                                                <td>{{childData.EmployeeID}}</td>
                                                                <td>{{childData.Name}}</td>
                                                                <td>{{childData.TATDate | date:"dd-MM-yyyy  h:mma"}}</td>
                                                                <td>{{childData.FollowUp && childData.FollowUp!=null ? (childData.FollowUp | date:"dd-MM-yyyy"):''}}</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>



                            </tbody>

                        </table>

                        <div ng-show="!Report || Report.length<=0">No record found</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

